:root{
   /*  --primary-color :linear-gradient(rgba(229,228,255),rgb(159, 45, 253)); */
   /*  --secondary-color: rgb(207, 149, 255); */
   /*  --tertiary-color:rgba(226, 238, 255, 0.533); */
   /*  --pastel-color:rgba(255, 255, 227, 0.342); */
   /*  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.143), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
   /*   --dark-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.441); */
   /*  --font-dark-color: black; */
   /*  --background-image: url('https://i.pinimg.com/originals/aa/6a/0e/aa6a0e9ecb4be2a2881d976eb70d4216.jpg'); */
   /**/
   /* --purple-color: rgb(150, 0, 250); */
}
